<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>

  <main>
    <div class="card">
      <% if (!isNaN(CrClKey)) { %>
      <h2 class="result">Creatinine Clearance =<span id="CrClResult"><%= CrClKey %></span></h2>
      <% } else { %>
        <h2 class="result"><span id="CrClResult">Hemodialysis Dosing Guidance</span></h2>
      <% } %>
    
      <%- include('../partials/dosage'); -%>
    </div>
  </main>

  <%- include('../partials/scriptTags'); -%>
</body>

</html>