<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>

  <% if (!isNaN(CrClKey)) { %>
    <h2 class="result">Creatinine Clearance =<span id="CrClResult"><%= CrClKey %></span></h2>
  <% } %>
  
  <%- include('../partials/dosage'); -%>

  <span></span>

  <%- include('../partials/scriptTags'); -%>
</body>

</html>