<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body>

  <%- include('../partials/nav'); -%>

  <%- include('../partials/selectDrug'); -%>

  <%- include('../partials/calculateCrCl'); -%>

  <span></span>

  <%- include('../partials/scriptTags'); -%>
</body>

</html>