<table>
  <% if (doseRecKey) { %>
  <thead>
    <tr>
      <th></th>
      <th>Indication</th>
      <% if (doseRecKey[0].crcl_level === "Assumes TIW HD.  Give dose after HD.") { %>
        <th>Dialysis</th>
        <% } else { %>
        <th>CrCl Range (mL/min)</th>
        <% } %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= doseRecKey[0].drug_name %>, <%= doseRecKey[0].route %></td>
      <% if (doseRecKey[0].indication) { %>
      <td><%= doseRecKey[0].indication %></td>
      <% } else { %>
      <td>any</td>
      <% } %>
      <td><%= doseRecKey[0].crcl_level %></td>
    </tr>
  </tbody>
  <tfoot>
    <% for (let i=0; i<doseRecKey.length; i++) { %>
    <tr>
      <% if (i===0) { %>
      <th class="dose result">Dose:</th>
      <td class="dose" colspan="3"><%= doseRecKey[i].dose.split(';')[0] %> 
        <br> 
        <%= doseRecKey[i].dose.split(';')[1] %>
        <br>
        <%= doseRecKey[i].dose.split(';')[2] %>
      </td>
      <% } else { %>
    <tr>
      <th></th>
      <th class="dose result" colspan="3">or</th>
    </tr>
    <tr>
      <th></th>
      <td class="dose" colspan="3"><%= doseRecKey[i].dose.split(';')[0] %>
        <br>
        <%= doseRecKey[i].dose.split(';')[1] %>
        <br>
        <%= doseRecKey[i].dose.split(';')[2] %>
      </td>
    </tr>
    <% } %>
    </tr>
    <% } %>
    <% if (doseRecKey[0].notes) { %>
    <tr>
      <th>Notes</th>
      <td class="notes" colspan="3"><%= doseRecKey[0].notes %></td>
    </tr>
    <% } %>
  </tfoot>
  <% } else %>
  <% { %>
  <% console.log(`doseRecKey = ${doseRecKey}`) %>
  <% } %>
</table>