<table>
  <% if (doseRecKey) { %>
  <thead>
  <tr>
      <th></th>
      <th></th>
      <th>Indication</th>
      <th>CrCl Range</th>
      <th>Dose Guidance</th>
  </tr>
  </thead>
  <tbody>
        <% for (let i=0; i<doseRecKey.length; i++) { %>
  <tr>
        <td><%= doseRecKey[i].drug_name %></td>
        <td><%= doseRecKey[i].route %></td>
        <td><%= doseRecKey[i].indication %></td>
        <td><%= doseRecKey[i].crcl_level %></td>
        <td class="dose"><%= doseRecKey[i].dose %></td>
  </tr>
  <% } %>
</tbody>
<tfoot> 
  <tr>
    <th>Notes</th>
    <td class="notes" colspan="4"><%= doseRecKey[0].notes %></td>
  </tr>
  </tfoot>
      <% } else %>
      <% { %>
        <% console.log(`doseRecKey = ${doseRecKey}`) %>
      <% } %>
</table>